@model TeachingMaterial.Models.Department

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentLocation)
        </dd>

    </dl>

    
   @using (Html.BeginForm("Delete", "Department", FormMethod.Post, htmlAttributes: new { id = "departmentForm" }))
   {
        @Html.AntiForgeryToken()
       <input type="hidden" value="@Model.DepartmentID" name="id" />  @* 在编辑和删除情况下，由基架自动生成的action和View中 会自动在表单标签的action 属性中生成controller/action/id 的值，默认是此视图的路由值，从而正确提交。但是换成了模态框，不存在了Get 方式的控制器了，因此，hiddenfor 辅助方法生成的name =CategoryID 与默认控制器接收的参数id的值不匹配，会找不到id值。*@
        @*
    <div class="form-actions no-color">
         <input type="submit" value="Delete" class="btn btn-default" /> |
         @Html.ActionLink("Back to List", "Index")
     </div>*@
   }
</div>
