@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="Hello"></span>@User.Identity.GetUserName()!<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
               <li role="presentation"><a href="@Url.Action("Details","Account")" role="menuitem"><span class="glyphicon glyphicon-user"> 我的个人信息</span></a></li>
               <li role="presentation"><a href="@Url.Action("ChangePassword","Account")" role="menuitem"><span class="glyphicon glyphicon-edit"> 个人密码修改</span></a></li>
               <li role="presentation" class="divider"></li>
               <li role="presentation"><a href="javascript:document.getElementById('logoutForm').submit()" role="menuitem"><span class="glyphicon glyphicon-log-out">注销</span></a></li>
           </ul>
       </li>

    @* <li>
        @Html.ActionLink("你好，" + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
        *@
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
