@model  PagedList.IPagedList<TeachingMaterial.Models.BookSubscription>
@using PagedList.Mvc;
@using TeachingMaterial.Models;
@{
    ViewBag.Title = "原始订单查看";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "OriginBookOrder", FormMethod.Get, new { @class = "form-inline", role = "form" }))
{
    <label for="pageSize" class="control-label">每页指定记录数：</label>
    <div class="form-group">
        <input type="number" name="pageSize" value="@ViewBag.pageSize" class="form-control" size="1" maxlength="4" min="1" max="1000" /> @* 使用新的Html5标签 <input type="number">*@
        @* @Html.TextBox("pageSize", ViewBag.pageSize as string, htmlAttributes: new { @class = "form-control", size = "1", maxlength = "2" })*@
    </div>
    <text>&nbsp;&nbsp;</text>
    <label for="semesterID" class="control-label">学期：</label>
    <div class="form-group">
        @Html.DropDownList("semesterID", ViewBag.semesterSelectList as SelectList, "全部", htmlAttributes: new { @class = "form-control" })
    </div>
    <text>&nbsp;&nbsp;</text>
    <label for="gradeID" class="control-label">年级：</label>
    <div class="form-group">
        @Html.DropDownList("gradeID", ViewBag.gradeSelectList as SelectList, "全部", htmlAttributes: new { @class = "form-control",id="indexGrade" })
    </div>
    <text>&nbsp;&nbsp;</text>
    <label for="departmentID" class="control-label">部门：</label>
    <div class="form-group">
        @Html.DropDownList("departmentID", ViewBag.departmentSelectList as SelectList, "全部", htmlAttributes: new { @class = "form-control", id = "indexDepartment" })
    </div>
    <text>&nbsp;&nbsp;</text>
    <label for="majorID" class="control-label">专业：</label>
    <div class="form-group">
        @Html.DropDownList("majorID", ViewBag.majorSelectList as SelectList, "全部", htmlAttributes: new { @class = "form-control", id = "indexMajor" })
    </div>
    <text>&nbsp;&nbsp;</text>
    <label for="courseType" class="control-label">课程类型：</label>
    <div class="form-group">
        @Html.DropDownList("courseType", ViewBag.courseTypeList as SelectList, "全部", htmlAttributes: new { @class = "form-control" })
    </div>
    <text>&nbsp;&nbsp;</text>

    <br /><br />

    <label for="subscriptionType" class="control-label">征订类型：</label>
    <div class="form-group">
        @Html.DropDownList("subscriptionType", ViewBag.subscriptionTypeList as SelectList, "全部", htmlAttributes: new { @class = "form-control" })
    </div>
    <text>&nbsp;&nbsp;</text>


    <label for="courseName" class="control-label">查找课程：</label>
    <div class="form-group">
        @Html.TextBox("courseName", ViewBag.CourseName as string, htmlAttributes: new { @class = "form-control", placeholder = "请输入课程名称" })
    </div>
    <text>&nbsp;&nbsp;</text>

    <label for="bookName" class="control-label">查找教材：</label>
        <div class="form-group">
            @Html.TextBox("bookName", ViewBag.BookName as string, htmlAttributes: new { @class = "form-control", placeholder = "请输入教材名称或ISBN" })
        </div>
        <text>&nbsp;&nbsp;</text>


    <input type="submit" value="确定" class="btn btn-primary" />
}
<br />
<table class="table table-striped table-hover table-bordered  pre-scrollable" style="font-size:10px">
    <tbody>
        <tr>
            <th>
                @Html.ActionLink("学期名称", "Index", new { sortOrder = ViewBag.SemesterIDSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("年级名称", "Index", new { sortOrder = ViewBag.GradeIDSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                部门名称
            </th>
            <th>
                @Html.ActionLink("专业名称", "Index", new { sortOrder = ViewBag.MajorIDSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("课程类型", "Index", new { sortOrder = ViewBag.CourseTypeSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("课程名称", "Index", new { sortOrder = ViewBag.CourseNameSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("征订类型", "Index", new { sortOrder = ViewBag.SubscriptionTypeSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("教材名称", "Index", new { sortOrder = ViewBag.BookNameSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>ISBN</th>
            <th>主编</th>
            <th>
                @Html.ActionLink("出版社", "Index", new { sortOrder = ViewBag.PressNameSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("单价", "Index", new { sortOrder = ViewBag.PriceSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("征订数量", "Index", new { sortOrder = ViewBag.bookSubscriptionNumberSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("征订单价格", "Index", new { sortOrder = ViewBag.SubscriptionPriceSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("征订人", "Index", new { sortOrder = ViewBag.SubscriptionUserSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("征订时间", "Index", new { sortOrder = ViewBag.SubscriptionTimeSortParam, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize })
            </th>
        </tr>
    </tbody>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterCourse.Semester.SemesterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterCourse.GradeMajor.Grade.GradeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterCourse.GradeMajor.Major.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterCourse.GradeMajor.Major.MajorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterCourse.CourseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterCourseName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SubscriptionType)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Press)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Price)
                </td>
                <td class="bookNumber">
                    @Html.DisplayFor(modelItem => item.BookSubscriptionNumber)
                </td>
                <td>
                    &#165;<span class="bookPrice">@item.SubscriptionPrice</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterCourse.SubscriptionUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelITem => item.SemesterCourse.SubscriptionTime)
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-muted" colspan="12">
               每页 @Model.PageSize 条记录，共有 @Model.TotalItemCount 条记录。第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页。
            </td>
            <td id="totalBookNumber"></td>
            <td>
                &#165;<span id="totalBookPrice"></span>
            </td>
            <td colspan="2"></td>
        </tr>
    </tfoot>

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, semesterID = ViewBag.SemesterID, gradeID = ViewBag.gradeID, departmentID = ViewBag.departmentID, majorID = ViewBag.MajorID, courseType = ViewBag.CourseType, subscriptionType = ViewBag.SubscriptionType, courseName = ViewBag.CourseName, bookName = ViewBag.BookName, pageSize = ViewBag.pageSize }),
                               new PagedListRenderOptions { LinkToFirstPageFormat = "首页", LinkToNextPageFormat = "下一页", LinkToPreviousPageFormat = "上一页", LinkToLastPageFormat = "末页", MaximumPageNumbersToDisplay = 5, DisplayItemSliceAndTotal = false }
)

@section Scripts{
    <script>
        $(function () {
            $("#indexDepartment").change(function () {
                var selectedGradeID = $("#indexGrade").val();
                var selectedDepartmentId = $("#indexDepartment").val();
                $.getJSON('@Url.Action("GetMajorList")', { gradeID: selectedGradeID, departmentID: selectedDepartmentId }).success(function (data) {
                    $("#indexMajor").empty();
                    $("#indexMajor").append("<option value=''>全部</option>");
                    $.each(data, function (i, p) {
                        $("#indexMajor").append("<option value='" + p.majorID + "' >" + p.majorName + "</option>");
                    });
                });
            });

            var totalBookNumber = 0;
            var totalBookPrice = 0;
            $("tr .bookNumber").each(function () {
                totalBookNumber += parseFloat($(this).text());
            });

            $("tr .bookPrice").each(function () {
                totalBookPrice += parseFloat($(this).text());
            });

            $("tr #totalBookNumber").text(parseFloat(totalBookNumber));
            $("tr #totalBookPrice").text(parseFloat(totalBookPrice));


        });

    </script>
    }